<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/members.css" />
</head>
<body>
    <h1><%= title %> <a href="/" class="linkonblack">(Go Back Home --&gt;)</a></h1>
<div class="container-fluid"><div class="row">
    <% for(var i=0; i<data.length; i++) {
        var post = data[i];
    %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="post">
            <div class="container-fluid">
                <img class="img" src="<%=post.avatar%>" />
                <h2 class="user"><%=post.user%></h2>
                <p class="email"><a href="mailto:<%=post.email%>"><%=post.email%></a></p>
            </div>
            <p><%=post.bio%></p>
            <p class="joined">Since <%=new Date(post.joined).toUTCString()%></p>
        </div>
    </div>
    <% } %>
</div></div>
</body>
</html>
